th,
td {
	padding: 9px;
	text-align: center;
	margin: 7px;
}

th {
	border: 1px solid #000;
}
table {
	border: none;
	border-collapse: collapse;
}

table td {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

table tr:last-child {
	border-bottom: 1px solid #000;
}

.action {
	padding: 18px;
	font-size: 12px;
	cursor: pointer;
}
.edit {
	color: blue;
}
.del {
	color: red;
}
