<div>
    <form [formGroup]="feedbackFormGrop" (ngSubmit)="submitFeedback()">
        <div class="item-group">
            <span class="side-label">Employee Name</span>
            <input type="text" class="input" formControlName="empname" required="required" />
        </div>
        <div class="item-group">
            <span class="side-label">Employee Id</span>
            <input type="text" class="input" formControlName='empid'>
        </div>
        <div class="item-group">
            <span class="side-label">Project</span>
            <select class="input product-list" *ngIf="projectList.length>0" formControlName="project">
                <option *ngFor="let item of projectList" [ngValue]='item'>{{item.projectName}}</option>

            </select>
        </div>
        <div class="item-group rating-tab">
            <div>
                <app-rating [rating]=defaultRating (ratingClick)='ratingComponentClick($event)'></app-rating>
            </div>
        </div>
        <div class="item-group">
            <span class="comment side-label">Comment</span>
            <textarea rows="4" cols="25" formControlName="comment"></textarea>
        </div>
        <div class="item-group">
            <span class="comment side-label"></span>
            <button class="button">Cancel</button>
            <button class="button" type="submit">submit</button>
        </div>
        <p *ngIf="feedbackFormGrop.invalid==true" style="color: red;">Fill All the details</p>
    </form>
</div>